<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.co.diamed.com.form">

    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false" />

    <application
        android:name=".ClassApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">

        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
        <!-- Nav Menu -->

        <activity
            android:name=".menu.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Intent filter to capture System Browser calling back to our app after Sign In -->
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Add in your scheme/host from registered redirect URI -->
                <data android:scheme="msalb3131887-d338-4d8d-a0fb-89c5db805612"
                    android:host="auth" />
            </intent-filter>
        </activity>
        <activity android:name=".calibration.IncubatorActivity" />
        <activity
            android:name=".menu.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".res.CaptureSignature"
            android:theme="@style/theme.Transparent" />
        <activity android:name=".calibration.CentrifugeActivity" />
        <activity android:name=".calibration.PlasmaThawerActivity" />
        <activity android:name=".calibration.Diacent12Activity" />
        <activity android:name=".calibration.DiacentCWActivity" />
        <activity
            android:name=".calibration.GeneralUseActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".calibration.GelstationActivity" />
        <activity android:name=".calibration.DiacentUltraCWActivity" />
        <activity android:name=".res.MultiLayoutActivity" />
        <activity android:name=".calibration.IH500Activity" />
        <activity android:name=".calibration.IH1000Activity" />
        <activity android:name=".calibration.DoconActivity" />
        <activity android:name=".calibration.HC10Activity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c4043ae952ed1761e2fc155a83232f8911663d8d" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="application/pdf" />
            </intent-filter>

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".menu.MainMenuAcitivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".calibration.FridgeActivity" />
        <activity android:name=".calibration.SepaxActivity" />
        <activity android:name=".calibration.res.DevicePrototypeActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key"/>
    </application>

</manifest>